/* Import Google Fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Apply Poppins Font */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.active{
    color: #cc2a2a;
    text-decoration: underline;
    font-weight: bold;
}


 ul{
    list-style: none;
 }

.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    margin: 0px 30px;
}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

 a {
    text-decoration: none;
 }
header {
    width: 100vw; 
    height: 100vh;
    background-image: url('./images/image1.jfif');
    background-position: bottom;
    background-size: cover; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    text-align: center;
    color: #blue;
}

.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    margin: 10px auto;
    background: #cc2a2a;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmax;
    margin-top: 50px;
    margin-bottom: 30px;

}

.ctn{
    padding: 8px 15px;
    background: #c53434;
    border-radius: 30px;
    color: #blue;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section{
    width: 80%;
    margin: 80px auto;

}
.title{
    text-align: center;
    font-size: 6vmin;
    color: #aca7a7;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.events .row{
    margin-top: 70px;
}

h4{
    font-size: 3vmin;
    color: #aca7a7;
    margin: 20px auto;
}
p{
    color: aquamarine;
}

.events .ctn{
    margin-top: 30px;
}


.Explore{
      width: 100%;
      height: 80vh;
      background-image: url(./images/walking.jfif);
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
}

.explore-content{
      width: 50%;
      padding: 50px;
      color: whitesmoke;
      display: flex;
      align-items: center;
      flex-direction: column;
}

.explore-content h1 {
    font-size: 5vmin;
    margin: 50px;

}

.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: whitesmoke;
}

.explore-content .ctn{
    margin-top: 40px;
}
@media only  screen and (max-width:850px){

    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(112, 143, 211);
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-link li{
        margin: 30px auto;
    }
}
